<html>
  <head><title>Meow World!</title></head>
  <body>
  <div style="width:800px;margin: 0 auto">
  <!-- BEGIN -->
  <center><img src="http://<%= @placeholder -%>/<%= @width -%>/<%= @height -%>"></img></center>
  <center><h1>Meow World!</h1></center>
  <center><h2>OHAI and Welcome to ChefConf!</h2></center>
  <center><h2>The database IP address is: <%= @dbaddress -%></h2></center>
  <!-- END -->
  </div>
  </body>
</html>
